body {
    font-family: Roboto, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

header,
footer {
    background-color: #1f2937; 
}

footer {
    color: #e5e7eb;
}

header {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-links {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 22px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-container { 
   background-color: #1f2937;
    width: 40%;
}

h1 ~ p {
    color: #e5e7eb;
}
.top-container {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    justify-content: space-around;
    padding: 18px;
    flex: 1;
}

.placeholder-image {
  
    color: #e5e7eb;
    background-color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
}